#
# The CN9130 CRB comes with a Marvell 88R6393X switchcore, which has
# full support in Linux.  One of the switch ports is a 10 Gbps capable
# SFP slot.  The board also has one 1.0 Gbps and one 2.5 Gbps port
# directly connected to the SoC.  This fragment enables DSA and its
# drivers, inclding VLAN aware bridge support to allow users to easily
# set up a LAN switch + WAN interface(s).
#
# The board comes with a MCP23017 i2c pin controller that drives the
# onboard eMMC abd USB 3,0 port power lines.
#
CONFIG_MARVELL_PHY=y
CONFIG_MARVELL_10G_PHY=y
CONFIG_SFP=y

CONFIG_NET_DSA=m
CONFIG_VLAN_8021Q=y

CONFIG_BRIDGE=m
CONFIG_BRIDGE_IGMP_SNOOPING=y
CONFIG_BRIDGE_VLAN_FILTERING=y

CONFIG_NET_DSA_MV88E6XXX=m
CONFIG_NET_DSA_MV88E6XXX_PTP=y

CONFIG_PINCTRL_MCP23S08=y
