# Only rename physical interfaces, skip virtual ones created by hostapd/iw
# Virtual interfaces created by iw have name_assign_type=3 (userspace assigned)
SUBSYSTEM=="net", ACTION=="add", TEST=="/sys/class/net/$name/wireless", ATTR{name_assign_type}!="3", NAME="wifi%n"
