#!/bin/sh

con=hvc0
tty -s && con=hvc2

img={{#qn_image}}{{qn_image}}{{/qn_image}}{{^qn_image}}infix-x86_64.img{{/qn_image}}
imgsz=$((($(stat -Lc %s $img) + 1023) >> 10))
imgdir=./.$(realpath $img | sed -e s:/:-:g)

unsquashfs -n -f -d $imgdir $img boot/bzImage >/dev/null


{{> inc/infix-disk}}
{{> inc/infix-usb}}

truncate -s 0 $imgdir/{{name}}.mactab
{{#links}}
echo "{{qn_name}}	{{qn_mac}}" >>$imgdir/{{name}}.mactab
{{/links}}

# Number of mac80211_hwsim radios for this node = radioN carrier ports the
# topology wired to it.  Read at boot by 00-hwsim (fw_cfg opt/wifi); 0 means
# no radios, so the node stays wifi-free.
radios=0
{{#links}}
case "{{qn_name}}" in radio[0-9]*) radios=$((radios + 1));; esac
{{/links}}
echo "$radios" > $imgdir/{{name}}.wifi

exec qemu-system-x86_64 -M pc,accel=kvm:tcg -cpu max \
  -m {{#qn_mem}}{{qn_mem}}{{/qn_mem}}{{^qn_mem}}384M{{/qn_mem}} \
  -kernel "bzImage" -initrd $img \
  -append "root=/dev/ram0 ramdisk_size=$imgsz console=$con,115200 $append {{qn_append}}" \
  -drive file={{name}}.disk,if=virtio,format=raw,bus=0,unit=1  \
{{> ../qeneth/templates/inc/qemu-links}}
  -fw_cfg name=opt/mactab,file=$imgdir/{{name}}.mactab \
  -fw_cfg name=opt/wifi,file=$imgdir/{{name}}.wifi \
   $usb_cmd \
{{> ../qeneth/templates/inc/infix-common}}
{{> ../qeneth/templates/inc/qemu-console}}
