serial 0 115200
timeout 20
totaltimeout 100
ontimeout qemu
ui menu.c32

label qemu
      kernel __KERNEL_PATH__
      initrd __INITRD_PATH__
      append root=/dev/sr0 console=ttyS0 quiet

label live
      kernel __KERNEL_PATH__
      initrd __INITRD_PATH__
      append root=/dev/sr0 console=tty0 quiet
