# CONFIG_OF_OMIT_DTB is not set
CONFIG_DEVICE_TREE_INCLUDES="infix-env.dtsi infix-key.dtsi"

CONFIG_ENV_IMPORT_FDT=y

CONFIG_RSA=y
CONFIG_RSA_VERIFY=y

CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_BLKMAP=y

CONFIG_NET_RANDOM_ETHADDR=y

CONFIG_DISTRO_DEFAULTS=y
CONFIG_CMD_SETEXPR=y
CONFIG_CMD_SETEXPR_FMT=y

CONFIG_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_PCI=y
CONFIG_CMD_MMC=y

CONFIG_FS_SQUASHFS=y
CONFIG_CMD_SQUASHFS=y

