# To enable automatic sync of your Infix fork every day, or on dispatch,
# set the repoistory or organisation variable (not secret):
#
#     SYNC_FORK = 'true'
#
# You also need a GH_SYNC_REPO token allowed to update workflows.  For
# more information on variables and secrets, see the GitHub docs.
# See https://docs.github.com/en/actions/learn-github-actions/variables
name: Synchronize your fork of Infix with upstream

on:
  schedule:
    - cron: 42 2 * * *
  workflow_dispatch:

jobs:
  sync_fork:
    if: ${{github.repository_owner != 'kernelkit' && vars.SYNC_FORK == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: TobKed/github-forks-sync-action@master
        with:
          github_token: ${{ secrets.GH_SYNC_REPO }}
          upstream_repository: KernelKit/infix
          upstream_branch: main
          target_branch: main
          force: false
          tags: true
